.app-container {
    /* background-color: rgb(105, 197, 240); */
    background-color: rgb(255, 247, 220);
    /* background-color: rgba(0, 190, 255); */
    
    min-height: 100vh;
    width: 100vw;
    

}

