.episode-table-container {
    border: solid black 2px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    overflow-y: scroll;
    max-height: 480px;
    height: 480px;
}

.table-row:hover {
    cursor: pointer;
}

.table {
    margin-bottom: 0;
}

