.episode-table-container {
    border: solid black 2px;
    border-left: none;
    border-bottom: none;
    overflow: scroll;
    max-height: 480px;
    height: 480px;
}

.table-row:hover {
    cursor: pointer;
}



