

@media (min-width: 601px){
    .home-container {
        padding-top: 250px;
        text-align: center;
    }

    .showsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-width: 100vw;
        
    }
}

@media (max-width: 600px){
    .home-container {
        padding-top: 200px;
        text-align: center;
    }
}