

@media (min-width: 601px){
    .home-container {
        padding-top: 250px;
        text-align: center;
    }
}

@media (max-width: 600px){
    .home-container {
        padding-top: 200px;
        text-align: center;
    }
}