@media (min-width: 601px) {
  .acc-scroll-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-placeholder {
    width: 500px;
  }
  
  .landing-container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .login-scroll {
    direction: rtl;
    transform: rotate(-90deg);
    font-size: 20px;
    width: 305px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 8px 0 rgb(151, 146, 130) !important;
    background-color: rgba(245, 224, 156) !important;
    border-radius: 5px !important;
    margin-right: -165px;
    color:rgba(0, 0, 0, 0.685) !important;
  }
  .login-scroll:hover {
    cursor: pointer;
    color:rgb(0, 0, 0) !important;

  }

  .signup-scroll {
    transform: rotate(90deg);
    font-size: 20px;
    width: 305px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 8px 0 rgb(151, 146, 130) !important;
    background-color: rgb(245, 224, 156) !important;
    border-radius: 5px !important;
    margin-left: -165px;
    color:rgba(0, 0, 0, 0.685) !important;

  }

  .signup-scroll:hover {
    color:rgb(0, 0, 0) !important;

    cursor: pointer;
  }

  .reveal-form {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 8px 0 rgb(63, 63, 63);
    box-shadow: 0 6px 8px 0 rgb(151, 146, 130);
    border-radius: 5px;
    background-color: rgba(245, 224, 156);
    transition: width 2s, height 0s;
    overflow: hidden;
  }

  .reveal-form-hidden {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 0;
    width: 0px;
    height: 0px;
  }

  .reveal-signup {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 8px 0 rgb(63, 63, 63);
    box-shadow: 0 6px 8px 0 rgb(151, 146, 130);
    border-radius: 5px;
    background-color: rgba(245, 224, 156);
    transition: right 2s, width 2s, height 0s;
    direction: ltr;
    transform-origin: center right;
    overflow: hidden;
  }

  .reveal-signup-hidden {
    width: 0%;
    transform-origin: right;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 0px;
    height: 0px;
  }

  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    padding: 30px;
  }

  .login-form {
    padding: 50px;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .login-form-container {
    width: 500px;
  }

  .login-form input {
    border: 1px solid gray;
    height: 40px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
  }

  .signup-form input {
    border: 1px solid gray;
    height: 40px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
  }

  .login-btn {
    width: 200px;
    height: 40px;
    background-color: rgba(245, 245, 245, 0.842) !important;
  }

  .login-btn:hover {
    background-color: rgb(245, 245, 245) !important;

  }

  .signup-btn {
    width: 200px;
    height: 40px;
    background-color: whitesmoke !important;
  }

}

/* Below is for mobile */

@media (max-width: 600px) {
  .acc-scroll-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .landing-container {
    padding-top: 200px;
    text-align: center;
  }

  .login-scroll {
    width: 300px;
    height: 50px;
  }

  .signup-scroll {
    width: 300px;
    height: 50px;
  }

  .login-form {
    padding: 50px;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .login-form input {
    height: 40px;
    width: 300px;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
  }

  .login-btn {
    width: 200px;
    height: 40px;
  }
}
