@media (min-width: 601px) {
    .navBar {
        z-index: 920;
        width: 100vw;
        height: 100px;
        position: fixed;
        top: 0;
        font-family: 'Roboto', sans-serif;
    }
    .inner-nav {
        display: grid;
        grid-template-columns: 4fr 1fr;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 20px;
    }
    .logo {
        font-size: 30px;
        padding-top: 30px;
    }
    .xLogo {
        color: rgb(233, 10, 10);
        font-weight: bold;
    }
    .markLogo {
        color: black;
    }
    .compass-container {
        text-align: right;
    }
    .compass {
        width: 100px;
        height: 100px;
        fill: black;
    }
    .compass:hover {
        cursor: pointer;
        filter: drop-shadow(8px 8px 10px red);
    }
}


/* Below is for mobile devices */

@media (max-width: 600px) {
    .navBar {
        z-index: 920;
        width: 100vw;
        height: 100px;
        position: fixed;
        top: 0;
        font-family: 'Roboto', sans-serif;
    }
    .inner-nav {
        display: grid;
        grid-template-columns: 4fr 1fr;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 20px;
    }
    .logo {
        font-size: 30px;
        padding-top: 20px;
    }
    .xLogo {
        color: rgb(233, 10, 10);
        font-weight: bold;
    }
    .markLogo {
        color: black;
    }
    .compass-container {
        text-align: right;
    }
    .compass {
        width: 80px;
        height: 80px;
        fill: black;
    }
    .compass:hover {
        cursor: pointer;
        filter: drop-shadow(8px 8px 10px red);
    }
}