@media (min-width: 601px){
    // .shows {
    //     display: grid;
    //     margin-top: 50px;
    //     position: absolute;
    //     grid-template-columns: 1fr 1fr 1fr;
    //     grid-row-gap: 70px;
    //     grid-column-gap: 100px;
     
    // }

  

    .shows-container-hidden {
        line-height: 0;
        width: 0px;
        height: 0px;
    }

    .shows-container {
        width: 100%;
        height: 100%;
        // max-width: 1050px;
        max-width: 100%;
        border: solid black 2px;
        border-left: none;
        transition: width 2s, height 0s, transform 2s;
        box-shadow: 0 6px 8px 0 rgb(151, 146, 130);

    }
    
   

    .shows {
        max-height: 550px;
        display: flex;
        padding: 30px 50px 50px 50px;
        flex-flow: column wrap;
        overflow: hidden;
 
        
      
    }

    // .shows {
    //     display: grid;
    //     grid-template-rows: repeat(2, 1fr);
    //     grid-auto-flow: column;
    //     overflow-y: scroll;
    //     grid-column-gap: 40px;
    //     grid-row-gap: 40px;
    //     margin: 50px 50px 50px 50px;
   
    // }



    
    
}

@media (max-width: 600px){
    .shows {
        display: grid;
        margin-top: 50px;
        position: absolute;
        grid-template-columns: 1fr;
        grid-row-gap: 70px;
        grid-column-gap: 100px;
     
    }
    
    
}