.view-show-container {
  padding-top: 180px;
  text-align: center;
  width: 100vw;
}

.view-show {
  border: solid black 2px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;

  justify-content: space-between;

  // text-align: left;
}

.viewShowPoster img {
  border: solid black 1px;
}

.show-info {
  max-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  overflow: scroll;
//   line-height: 1em;
}

.show-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info-title {
    font-weight: bold;
}
